{% extends 'base.html.twig' %}

{% block title %}Réserver une chambre{% endblock %}

{% block body %}

    <div class="row justify-content-center mt-2">
        <div class="col-md-6">
            <h1 class="text-center">Réserver une chambre</h1>
            <h4 class="text-center">Etablissement : {{ hotel }}</h4>
            {{ form_start(form) }}

            {{ form_row(form.arrivalDate, {'attr': {'readonly': 'readonly'}}) }}

            {{ form_row(form.departureDate, {'attr': {'readonly': 'readonly'}}) }}

            {{ form_row(form.numberOfGuests, {'attr': {'readonly': 'readonly'}}) }}

            {{ form_rest(form) }}

            <div class="form-group">
                <button type="submit" name="submit" class="btn btn-primary">Valider la réservation</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
